@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.label-left {
  text-align: left !important;
  display: block;
}

@layer components {
  .form-label {
    @apply block text-lg font-semibold my-4 text-left;
  }
  .form-input {
    @apply block w-full p-2 border border-gray-300 rounded;
  }
  .error-text {
    @apply text-red-500 text-sm mt-10;
  }
  /* index.css */

.btn-primary {
  @apply w-full font-semibold py-2 px-4 rounded-lg 
         bg-yellow-400 text-black 
         hover:bg-yellow-500 
         disabled:bg-gray-300 disabled:text-gray-500;
}

.btn-counter {
  @apply w-10 h-10 text-black font-bold rounded-lg 
         bg-yellow-400 hover:bg-yellow-500 
         flex items-center justify-center;
}

  .section-title {
    @apply text-lg font-semibold text-left;
  }
}